.button {
  border-radius: 8px;
  background-color: $grey-5;
  outline: none;
  border: none;
  color: $grey-3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;

  &:focus {
    transform: scale(.9);
  }

  &:focus-visible {
    outline: none;
  }
}

.clean-button {
  outline: none;
  border: none;
  background-color: unset;
}

.rounded-button {
  border-radius: 999999px;
  background-color: $grey-5;
  outline: none;
  border: none;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &--error {
    background-color: $red;
    color: $grey-0;
  }

  &--warning {
    background-color: $yellow;
    color: $grey-0;
  }

  &--success {
    background-color: $green;
    color: $grey-0;
  }
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 56px;
  height: 40px;
  padding: 8px 12px;
  background-color: unset;
  outline: none;
  border: 1px solid $grey-3;
  border-radius: 8px;

  @include media-min(medium) {
    display: none;
  }

  &--menu {
    margin-right: 1rem;
  }

  &__line {
      width: 24px;
      height: 3px;
      background-color: $grey-3;
  }
}
