// Main Container
$height-main-container: 100vh;
$background-color-main-container: #F7F8FC;

// Sidebar
$width-sidebar: 255px;
$background-color-sidebar: #2C2C2C;

// Colors
$grey-0: #FFFFFF;
$grey-1: #A4A6B3;
$grey-2: #DDE2FF;
$grey-3: #9FA2B4;
$grey-4: #DFE0EB;
$grey-5: #F0F1F7;
$grey-6: #C5C7CD;
$grey-100: #252733;
$accent: #3751FF;
$yellow: #FEC400;
$yellow-2: #D5CBAA;
$green: #29CC97;
$red: #F12B2C;

// menu
$height-menu: 44px;
$margin-top-menu: 54px;

// main Content
$padding-unit-main-content: 30px;
